<div class="col-md-6 offset-md-3">
    <br>
    <h3> Agregar Skill </h3>
    <form (ngSubmit) = "onSubmit()">
  
        <div class="form-group">
            <label> Nombre del skill</label>
            <input type="text" class ="form-control" id = "nombreSkill"
                [(ngModel)] = "skill.nombreSkill" name = "nombreSkill">
        </div>

        <div class="form-group">
            <label>Porcentaje Skill</label>
            <input type="text" class ="form-control" id = "porcentajeSkill"
                [(ngModel)] = "skill.porcentajeSkill" name = "porcentajeSkill">
        </div>
              <br>
        <button class = "btn btn-success" type ="submit">Añadir</button>
    </form>
</div>