<div class="container">
    <div class="row">

      <div class="col-md-3">
        <img class="imagen-perfil" src="{{user.imagenPerfil}}" alt="Imagen de perfil" />
        
        <div class="datos-acerca ">
            <div class="text-center">
        <h1>{{user.nombre}} {{user.apellido}}</h1>
        <span>{{user.titulo}}</span> 
    </div>        
    <h3><div class="crud-menu">
    <button class="button" id="editar" (click) = "updateUser(user.id)"><span>      Editar</span></button>

    </div></h3>
</div>

    </div>
        
      
  
      <div class="col-md-9">
        <div class="texto-acerca">
        {{user.descripcion}}    
        </div></div>
  
    </div> </div>