.container{
    margin-top: -70px;
}

.imagen-perfil{
    display: block; margin-left: auto; margin-right: auto;
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
  
.datos-acerca{
    text-align: center;

}
.texto-acerca{
    border-left: 1px solid rgb(223, 223, 223);
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 100px;
    text-align: center;
}

h1{
    font-weight: 700;
}


.button{
    margin-top: 12px;
}