<div class="container">
    <div class="row">

      <div class="col-md-3">
        <img class="imagen-perfil" src="{{persona.imagenPerfil}}" alt="Imagen de perfil" />
        
        <div class="datos-acerca ">
            <div class="text-center">
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <span>{{persona.titulo}}</span> 
    </div>        
    <h3><div class="crud-menu">
    <button class="button" id="editar"><span>      Editar</span></button>
    </div></h3>
</div>

    </div>
        
      
  
      <div class="col-md-9">
        <div class="texto-acerca">
        {{persona.descripcion}}    
        </div></div>
  
    </div> </div>